.{$core.button-group}
    display inline-flex
    align-items stretch
    vertical-align middle

    .{$core.button}
        margin 0
        flex 1 1 auto

        & + .{$core.button}
            margin-left -1px


