badge()
    width auto
    height auto
    margin 0
    padding $badge-padding-base
    display inline-flex
    align-items center
    justify-content center
    box-sizing border-box
    font-size $badge-$font-size-base
    font-weight $font-weight-base
    line-height $badge-$line-height-base
    white-space nowrap
    text-decoration none
    border 0
    border-radius $badge-border-radius

