button()
    width auto
    height auto
    min-height ( $spacer * 2.125 )
    margin 0 ( $spacer / 3 ) ( $spacer / 3 ) 0
    padding $spacer  ( $spacer * 1.5 )
    display inline-flex
    align-items center
    justify-content space-between
    font-size 1rem
    font-weight $font-weight-base
    text-decoration none
    box-sizing border-box
    appearance button
    text-align center
    vertical-align middle
    line-height $line-height-base
    border 0
    outline none
    cursor pointer
    color $primary
    background-color transparent

    &:hover,
    &:focus
        color $dark
        background-color rgba( $dark, .05 )


button-sizes()
    &.sm
        min-height $spacer
        padding ( $spacer * 0.75 )  $spacer
        font-size $font-size--sm

    &.lg
        min-height ( $spacer * 2.5 )
        padding ( $spacer * 1.5 )  ( $spacer * 2 )
        font-size $font-size--lg


button-icon()
    width 2em
    height 2em
    display inline-flex
    align-items center
    justify-content center


button-trigger( size, color = $light, background = $dark )
    button( color, background )
    width size
    height size
    margin 0
    justify-content center
    position relative
    background-color transparent

    .material-icons,
    .fa
        font-size 2em

