/*
Grid mixins
*/

grid-row-no-gutter()
    // TODO:DEBUG
    // margin-left 0
    // margin-right 0

grid-col-no-gutter()
    padding-left 0
    padding-right 0

create_grid-container( gutter = $grid-gutter-base )
    width 100%
    margin-left auto
    margin-right auto
    padding-left ( gutter / 2 )
    padding-right ( gutter / 2 )

create_grid-row( gutter = $grid-gutter-base )
    margin-left ( gutter / 2 ) * -1
    margin-right ( gutter / 2 ) * -1
    display flex
    flex-wrap wrap

create_grid-col-ready( gutter = $grid-gutter-base )
    width 100%
    padding-left ( gutter / 2 )
    padding-right ( gutter / 2 )
    // TODO:DEBUG
    // position relative

create_grid-col-base()
    max-width 100%
    flex-basis 0
    flex-grow 1

create_grid-col( size, columns = $grid-columns )
    n = size / columns
    max-width percentage( n )
    flex 0 0 percentage( n )

create_grid-col-auto()
    width auto !important
    max-width 100%
    flex 0 0 auto

grid-col-offset( size, columns = $grid-columns )
    n = ( size / columns )
    if n == 0
        margin-left 0
    else
        margin-left percentage( n )

grid-col-order( size )
    order size !important

grid-row-cols( count )
    & > *
        max-width (100% / count)
        flex 0 0 (100% / count)

