/*
Percentage steps
*/
$lstPercs = (5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100)

/*
Rem steps
*/
$lstRems = (1..10)

/*
Opacity steps
*/
$lstOpacity = (1..9)

/*
Heading steps
*/
$lstHeading = (1..5)

/*
Border radius steps
*/
$lstBorderRds = (4..1)

/*
Display
*/
$lstDisplay = (none block inline-block inline flex inline-flex table table-cell table-row)

/*
Position
*/
$lstPosition = (static relative absolute fixed sticky)

/*
Aligns
*/
$lstAlignText = (center left right justify)
$lstAlignVertical = (baseline top middle bottom text-top text-bottom)