/*
Class names suffixes
*/
$pfxType = '-'
$pfxMod = '_'
$sfxPcnt = 'pct'
$sfxNeg = 'n'

/*
Important suffix
*/
$sfxImportant = !important

/*
Context class names
*/
$context = {
    top: 't',
    left: 'l',
    bottom: 'b',
    right: 'r',
    x-axis: 'x',
    y-axis: 'y',
    only: 'only',
    first: 'first',
    last: 'last',
    fluid: 'fluid',
    none: 'none',
    horizonzal: 'horizonzal',
    vertical: 'vertical'
}

/*
Status class names
*/
$status = {
    active: 'is-active',
    remove: 'is-removing',
    closing: 'is-closing',
    closed: 'is-closed',
    opening: 'is-opening',
    open: 'is-open',
    hovered: 'is-hovered',
    responsive: 'is-responsive',
    visible: 'is-visible',
    disabled: 'is-disabled',
}

/*
Core UI class names
*/
$core = {
    badge: 'badge',
    breadcrumbs: 'breadcrumbs',
    _breadcrumbs_item: 'item',
    button: 'button',
    button-group: 'button-group',
    callout: 'callout',
    card: 'card',
    _card_title: 'title',
    _card_heading: 'heading',
    _card_body: 'body',
    _card_footer: 'footer',
    card-columns: 'card-columns',
    card-group: 'card-group',
    figure: 'figure',
    _figure_image: 'img',
    _figure_caption: 'caption',
    form: 'form',
    _form_plain-text: 'plain',
    _form_input: 'input',
    _form_label: 'label',
    _form_text: 'text',
    _form_check: 'check',
    _form_radio: 'radio',
    _form_group: 'group',
    _form_inline: 'inline',
    grid: 'grid',
    grid-row: 'row',
    grid-column: 'col',
    grid-offset: 'offset',
    grid-order: 'order',
    image: 'img',
    _image_thumbnail: 'thumbnail',
    input-group: 'input-group',
    line: 'hr',
    list-group: 'list-group',
    _list-group_item: 'item',
    _list-group_link: 'link',
    _list-group_flush: 'flush',
    _list-group_horizontal: 'horizontal',
    menu: 'menu',
    table: 'table',
    _table_responsive: '_table_responsive'
}

/*
Utilities class names & prefixes
*/
$utils = {
    align: 'al',
    background: 'bg',
    _background_gradient: 'gradient',
    border: 'b',
    _border_radius: 'rad',
    clearfix: 'clear',
    color: 'color',
    display: 'd',
    print: 'print',
    embed: 'embed',
    _embed_ratio: 'ratio',
    flex: 'flex',
    _flex_justify-content: 'jc',
    _flex_align-items: 'ai',
    _flex_align-content: 'ac',
    _flex_align-self: 'as',
    float: 'f',
    height: 'h',
    min-height: 'min-h',
    max-height: 'max-h',
    viewport-height: 'vh',
    min-viewport-height: 'min-vh',
    max-viewport-height: 'max-vh',
    margin: 'm',
    opacity: 'oy',
    overflow: 'ow',
    padding: 'p',
    position: 'ps',
    top: 'top',
    left: 'left',
    bottom: 'bottom',
    right: 'right',
    screen-reader: 'sr',
    _screen-reader_focusable: 'focusable',
    shadow: 'shadow',
    _shadow_hoverable: 'hoverable',
    text: 'txt',
    _text_decoration: 'deco',
    _text_width: 'w',
    _text_style: 'style',
    _text_size: 'size',
    _text_heading: 'heading',
    _text_truncate: 'truncate',
    _text_lowercase: 'lowercase',
    _text_uppercase: 'uppercase',
    _text_capitalize: 'capitalize',
    _text_reset: 'reset',
    _text_muted: 'muted',
    _text_wrap: 'wrap',
    _text_nowrap: 'nowrap',
    _text_break: 'break',
    _text_shadow: 'shadow',
    user-select: 'user-select',
    visible: 'visible',
    invisible: 'invisible',
    width: 'w',
    min-width: 'min-w',
    max-width: 'max-w',
    viewport-width: 'vw',
    min-viewport-width: 'min-vw',
    max-viewport-width: 'max-vw',
}