/*
Border radius
*/
$border-radius-base = .25rem
$border-radius--sm = $border-radius-base * $coef-sm
$border-radius--lg = $border-radius-base * $coef-lg

/*
Border default style
*/
$border-default-style = solid $light

