/*
Breakpoints
*/
$breakpoint-XS = 0px
$breakpoint-SM = 576px
$breakpoint-MD = 768px
$breakpoint-LG = 992px
$breakpoint-XL = 1200px
$breakpoint-XXL = 1400px

/*
Breakpoints edges minimal
*/
$breakpoints--min = {
    XS: $breakpoint-XS,
    SM: $breakpoint-SM,
    MD: $breakpoint-MD,
    LG: $breakpoint-LG,
    XL: $breakpoint-XL,
    XXL: $breakpoint-XXL
}

/*
Breakpoints edges maximal
*/
$breakpoints--max = {
    XS: $breakpoint-XS - 1px,
    SM: $breakpoint-SM - 1px,
    MD: $breakpoint-MD - 1px,
    LG: $breakpoint-LG - 1px,
    XL: $breakpoint-XL - 1px,
    XXL: $breakpoint-XXL - 1px,
}