$embed-ratios = {
    '21to9': {
        x: 21,
        y: 9
    },
    '16to9': {
        x: 16,
        y: 9
    },
    '4to3': {
        x: 4,
        y: 3
    },
    '1to1': {
        x: 1,
        y: 1
    },
}