/*
Media used for mixins
*/


/*
Media for screen width and up
*/
$media-screen-and-up--XS = 'screen and (min-width: ' + $breakpoints--min[ 'XS' ] + ')'
$media-screen-and-up--SM = 'screen and (min-width: ' + $breakpoints--min[ 'SM' ] + ')'
$media-screen-and-up--MD = 'screen and (min-width: ' + $breakpoints--min[ 'MD' ] + ')'
$media-screen-and-up--LG = 'screen and (min-width: ' + $breakpoints--min[ 'LG' ] + ')'
$media-screen-and-up--XL = 'screen and (min-width: ' + $breakpoints--min[ 'XL' ] + ')'
$media-screen-and-up--XXL = 'screen and (min-width: ' + $breakpoints--min[ 'XXL' ] + ')'

/*
Media for screen width and down
*/
$media-screen-and-down--XS = 'screen and (max-width: ' + $breakpoints--max[ 'XS' ] + ')'
$media-screen-and-down--SM = 'screen and (max-width: ' + $breakpoints--max[ 'SM' ] + ')'
$media-screen-and-down--MD = 'screen and (max-width: ' + $breakpoints--max[ 'MD' ] + ')'
$media-screen-and-down--LG = 'screen and (max-width: ' + $breakpoints--max[ 'LG' ] + ')'
$media-screen-and-down--XL = 'screen and (max-width: ' + $breakpoints--max[ 'XL' ] + ')'
$media-screen-and-down--XXL = 'screen and (max-width: ' + $breakpoints--max[ 'XXL' ] + ')'

/*
Media for screen width and only
*/
$media-screen-and-only--XS = 'screen and (min-width: 0px) and (max-width: ' + $breakpoints--max[ 'SM' ] + ')'
$media-screen-and-only--SM = 'screen and (min-width: ' + $breakpoints--min[ 'SM' ] + ') and (max-width: ' + $breakpoints--max[ 'MD' ] + ')'
$media-screen-and-only--MD = 'screen and (min-width: ' + $breakpoints--min[ 'MD' ] + ') and (max-width: ' + $breakpoints--max[ 'LG' ] + ')'
$media-screen-and-only--LG = 'screen and (min-width: ' + $breakpoints--min[ 'LG' ] + ') and (max-width: ' + $breakpoints--max[ 'XL' ] + ')'
$media-screen-and-only--XL = 'screen and (min-width: ' + $breakpoints--min[ 'XL' ] + ') and (max-width: ' + $breakpoints--max[ 'XXL' ] + ')'
$media-screen-and-only--XXL = 'screen and (min-width: ' + $breakpoints--min[ 'XXL' ] + ') and (max-width: 100%)'

/*
Media for screen height
*/
$media-screen-and-min-height--250 = 'screen and (min-height: 250px)'
$media-screen-and-min-height--500 = 'screen and (min-height: 500px)'
$media-screen-and-min-height--750 = 'screen and (min-height: 750px)'
$media-screen-and-min-height--1000 = 'screen and (min-height: 1000px)'


