/*
Spacing unit
*/

$spacer = .75rem
$spacer_sm = $spacer * $coef-sm
$spacer_lg = $spacer * $coef-lg


/*
If Margin utilities are using responsive class prefixes
*/

$margin-use-responsive-prefixes = true


/*
If Padding utilities are using responsive class prefixes
*/

$padding-use-responsive-prefixes = true

