/*
Grid columns
*/
$grid-columns = 24

/*
Grid container gutters
*/
$grid-gutter-base = 1.5rem

/*
Grid columns
*/
$grid-container-width = {
    XS: 100%,
    SM: 540px,
    MD: 720px,
    LG: 960px,
    XL: 1140px,
    XXL: 1360px,
}
