/*
If Width utilities are using responsive class prefixes
*/

$width-use-responsive-prefixes = true


/*
If Height utilities are using responsive class prefixes
*/

$height-use-responsive-prefixes = true

