.{$core.callout}
    width 100%
    height auto
    margin-bottom ( $spacer * 2 )
    padding 2rem 2rem 2rem 2.5rem
    display flex
    flex-direction column
    border 1px $border-default-style
    border-left $callout-border-width $border-default-style

    color-accents-callout()

