.{$core.callout}
    width 100%
    height auto
    margin-bottom ( $spacer * 2 )
    padding 3rem 3rem 3rem 3.5rem
    display flex
    flex-direction column
    font-size 1.1rem
    border 1px $border-default-style
    border-left $callout-border-width $border-default-style

    color-accents-callout()

