embed-responsive()
    width 100%
    height auto
    margin 0
    padding 0
    display block
    position relative
    overflow hidden

    &::before
        content ''
        display block

    &-item,
    video,
    iframe,
    embed,
    object
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        bottom 0
        border 0

