shadow( color )
    box-shadow 0 .5rem .75rem .35rem color


shadow-xs( color )
    box-shadow 0 .05rem .125rem .05rem color


shadow-sm( color )
    box-shadow 0 .12rem .25rem .1rem color


shadow-lg( color )
    box-shadow 0 1rem 3rem .75rem color


shadow-xl( color1, color2 )
    box-shadow 0 .05rem .125rem .05rem color1,  0 1rem 3rem .5rem color2

