:root
    for key, value in $breakpoints--min
        --breakpoint-{key} value * 1px


    for key, value in colors
        --color-{key} value


    --font-size $font-size-document
    --line-height $line-height-base
    --font-family-serif $font-family--sans-serif
    --font-family-mono $font-family--monospace

    --spacer $spacer

